{% extends "base.html" %}
{% block content %}

<h1>Editar Registro</h1>

<div class="card">

<form method="POST" action="{{ url_for('update') }}">

    <input type="hidden" name="id" value="{{ cliente.id }}">
    <input type="hidden" name="office" value="{{ office }}">

    <label>Nome
        <input name="nome" value="{{ cliente.nome }}">
    </label>

    <label>CPF
        <input name="cpf" value="{{ cliente.cpf }}">
    </label>

    <label>Escritório
        <select name="escritorio">
            {% for o in offices %}
                <option value="{{ o.display }}" {% if cliente.escritorio_nome == o.display %}selected{% endif %}>{{ o.display }}</option>
            {% endfor %}
        </select>
    </label>

    <label>Tipo de ação
        <input name="tipo_acao" value="{{ cliente.tipo_acao }}">
    </label>

    <label>Data fechamento
        <input type="date" name="data_fechamento" value="{{ cliente.data_fechamento }}">
    </label>

    <label>Pendências
        <input name="pendencias" value="{{ cliente.pendencias }}">
    </label>

    <label>Nº processo
        <input name="numero_processo" value="{{ cliente.numero_processo }}">
    </label>

    <label>Data protocolo
        <input type="date" name="data_protocolo" value="{{ cliente.data_protocolo }}">
    </label>

    <label>Observações
        <textarea name="observacoes">{{ cliente.observacoes }}</textarea>
    </label>

    <label>Captador
        <select name="captador">
            <option {% if cliente.captador=='PAGO' %}selected{% endif %}>PAGO</option>
            <option {% if cliente.captador=='NÃO PAGO' %}selected{% endif %}>NÃO PAGO</option>
        </select>
    </label>

    <button class="btn" type="submit">Salvar</button>

</form>

</div>

{% endblock %}
