{% extends "base.html" %}
{% block content %}

<h1>Registros Excluídos</h1>

<form method="post" action="{{ url_for('restore_selected') }}">
  <button class="btn-small">Restaurar Selecionados</button>

  <table>
    <tr>
      <th><input type="checkbox" id="select-all"></th>
      <th>ID</th>
      <th>Nome</th>
      <th>Escritório Origem</th>
      <th>Data Exclusão</th>
      <th>Ações</th>
    </tr>

    {% for r in rows %}
    <tr>
      <td><input type="checkbox" class="row-select" name="ids" value="{{ r[0] }}"></td>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td>{{ r[3] }}</td>
      <td>{{ r[12] }}</td>

      <td>
        <form action="{{ url_for('restore') }}" method="post">
          <input type="hidden" name="id" value="{{ r[0] }}">
          <button class="btn-small">Restaurar</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</form>

{% endblock %}
